body{
    background-color: coral;
    width: 70%;

}

div{
    height: 700px;
    width:70% ;
    background-color: black;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 10%;
    
    
}

nav{
    height: 150px;
    width: 150px;
    background-color: red;
    position:relative;
    top: 150px;
    left: 8000px;

    

}

article{
    height: 150px;
    width: 150px;
    background-color: rgb(255, 0, 153);
    position: absolute;
    top: 500px;
    right: 0px;
    left: 0px;

}
section{
    height: 150px;
    width: 150px;
    background-color: rgb(0, 255, 76);
    position: fixed;
    top: 550px;


}
aside{
    height: 150px;
    width: 150px;
    background-color: rgb(0, 21, 255);
    position: sticky;
    top: 450px;


}